body, html{
    margin:0;
    padding:0;
}

.container {
display: grid;
grid-template-columns: 1fr 1fr;
}

.left-container {
display: flex;
align-items: center;
justify-content: center;
background: rgb(25, 88, 224);
flex-basis: 50%;
}

.name-box{
    width:60%;
}

.name{
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    font-weight: 800;
    
}

.description{
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    margin: 3% 0px 0px 0px;
}

.icon-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin:3rem 0px;

}

.icon{
    width: 4rem;
    justify-content:space-between;
    margin: 30% 0px;
}

.icon:hover{
    fill: #111;
}

.right-container {
    display: flex;
    justify-content: center;
    flex-basis: 50%;
    height: 100vh; 
    overflow: auto;
}

.content-box{
    width: 80%;
    font-family: 'Montserrat', sans-serif;
}

.main-box{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
    font-weight: 400;
}

.show-piece{
    height: 70%;
}

.aboutme-containter{
    display: flex;
    height: 500px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

}

.aboutme-content{
    align-items: center;
    justify-content: center;
    
}

.project-box{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.project-picture{

    width: 100%;
    height: 300px;
    background: black;
}

.project-info{

}

h2{
    font-size: 2.5rem;
    font-weight: 600;
}

p{
    font-size: 1.5rem;
    font-weight: 400;
}

.skills{
    height: 10rem;
    margin: 50px;
}

.input-box{
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

}

.input-names{
    display: grid;
    grid-gap: 30px;
    width: 100%;
    grid-template-columns: 1fr 1fr;
}


.email{
    width: 100%;
    margin: 30px 0;
}

.comment{
    width: 100%;
    height: 200px;
}

.submit-btn{
    width:20%;
    height: 50px;
    background:rgb(25, 88, 224);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    margin: 30px 0;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    font-size: 16px;
}

@media only screen and (max-width: 800px) {
    .name-box{
        width:80%;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr;
        }


    .left-container {
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgb(25, 88, 224);
        height: 100vh;
        }

    .right-container {
        overflow: visible;
    }

    .project-box{
        display: grid;
        grid-template-columns: 1fr;
    }

    .input-names{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr;
    }

    .comment{
        width: 100%;
        height: 100px;
    }

    .email{
        width: 100%;
        margin: 10px 0;
    }
}

@media only screen and (max-width: 1000px) {


    .input-names{
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr;
    }

    .comment{
        width: 100%;
        height: 100px;
    }

    .email{
        width: 100%;
        margin: 10px 0;
    }
}